@import url('http://fonts.cdnfonts.com/css/harry-potter');
html {
    background: rgba(0, 0, 0, 0.5) url(Hogwarts.jpg) no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    font-family: 'Harry Potter', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(202, 199, 11);
}

.instructions {
    color: rgb(202, 199, 11);
    font-size: 35px;
    text-align: center;
    font-weight: 600;
}

.houseNames {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px;
}

.houseNames img {
    width: 40%;
}

.firstColumn {
    margin-left: 40%;
}

.secondColumn {
    margin-left: 10%;
}

form {
    color: rgb(202, 199, 11);
    font-size: 35px;
    text-align: center;
    font-weight: 600;
}