@import url('http://fonts.cdnfonts.com/css/harry-potter');
html {
    background: url(library.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Harry Potter', sans-serif;
}

.houseNames {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px;
    margin-left: 150px;
}

.houseNames img {
    width: 40%;
}