@import url('http://fonts.cdnfonts.com/css/harry-potter');
html {
    background: url(library.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Harry Potter', sans-serif;
}

.houseNames {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px;
    margin-left: 150px;
}

.houseNames img {
    width: 40%;
}

.character {
    color: rgb(241, 238, 52);
    font-weight: bolder;
    font-optical-sizing: unset;
    font-size: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15fr;
}

.character h2 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    text-align: center;
    margin-left: 100px;
}

li {
    grid-row: 2 / span;
    grid-column: 2 / span 2;
    list-style: none;
}

div {
    grid-row: 2 / span 6;
    grid-column: 1 / span 1;
    list-style: none;
    margin-left: 200px;
}

.mainpic {
    size: 500px;
}